<template>

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 mt-5">

                <form @submit="formSubmit">

                    <label class="my-2 font-weight-bold" for="textarea">
                        TextArea
                    </label>

                    <textarea
                            id="textarea"
                            name="textarea"
                            class="form-control my-1"
                            v-model="textarea"
                            required>
                    </textarea>

                    <button class="btn btn-success my-1">
                        Submit
                    </button>

                </form>

            </div>

            <div class="col-12 mt-5" v-if="output !== null">

                <p class="my-2 text-center font-weight-bold">
                    Output
                </p>

                <ul class="list-group">

                    <OutputItem
                            v-for="(item, index) in output"
                            v-bind:key="item.id"
                            :item="item"
                            :index="index"
                            v-bind:class="[
                                (index === 0 || index === output.length-1 ? 'text-danger' : ''),
                                (index % 3 === 0 ? 'bg-success' : ''),
                                (index % 2 === 0 ? 'border-warning' : '')
                            ]"
                    ></OutputItem>

                </ul>

            </div>
        </div>
    </div>

</template>

<script>

    import OutputItem from '../components/OutputItem';

    export default {
        data() {
            return {
                textarea: null,
                output: null
            };
        },
        components: {
            OutputItem
        },
        methods: {
            formSubmit(e) {
                e.preventDefault();
                let currentObj = this;
                this.axios.post('/submitForm', {
                    textarea: this.textarea
                })
                    .then(function (response) {
                        currentObj.output = response.data;
                    })
            }
        }
    }

</script>

<style>

</style>