<template>
    <li class="list-group-item my-1">
        {{ item }}
    </li>
</template>

<script>
    export default {
        name: "OutputItem",
        mounted() {
            console.log('component OutputItem');
        },
        props:{
            item: String,
            index: Number
        }
    }
</script>

<style>

</style>