{% extends 'base.html.twig' %}

{% block title %}
    InServ -> Recruitment task (KosmCODE Maksym Kawelski)
{% endblock %}

{% block body %}
    <div class="example-wrapper" id="app">
        <app></app>
    </div>
{% endblock %}